= simple_form_for(@patient) do |f|
  = f.error_notification

  .form-inputs
    = f.input name.first.given
    /= f.input :last_name
    /= f.input :DOB
    /= f.input :MRN
    /= f.input :NHS_No
    /= f.input :status
    -#= f.input :status, collection: Patient.statuses.keys, input_html: { autocomplete: 'off' }

  .form-actions
    = f.button :submit
